# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Client Site : https://github.com/programming-hero-web-course1/b712-summer-camp-client-side-aalnoman10

Server Site : https://github.com/programming-hero-web-course1/b7a12-summer-camp-server_side-aalnoman10

live site : https://artcraft-school.web.app

email : alnomanm10@gmail.com
password: 1234Aa@